*.ipch
.vs/MyGame/v17/ipch/AutoPCH/1f1296e4645d9e0c/SDL_MANAGER.ipch
.vs/MyGame/v17/ipch/AutoPCH/42404ff5a05d1ec6/ANIMATION.ipch
.vs/MyGame/v17/ipch/AutoPCH/683c44f63ef2bcd0/SOURCE.ipch
.vs/MyGame/v17/ipch/AutoPCH/df7597c8d0cb66fd/SDL_MANAGER.ipch
.vs/MyGame/v17/ipch/AutoPCH/683c44f63ef2bcd0/SOURCE.ipch
